---
import { Image } from "astro:assets";
import quoteIcon from "../assets/images/icons/quote-icon.svg";
import customerTestimonialImage from "../assets/images/customer-testimonial-img.webp";
import { getTranslations, getLangFromUrl } from '../i18n/ui';

const lang = getLangFromUrl(Astro.url);
const { ui, content } = getTranslations(lang);

---


<section class="customer-testimonial-section" aria-labelledby="customer-testimonial-title">
    <div class="customer-testimonial-section__inner container">
        <h2  id="customer-testimonial-title" hidden>
            {content.home.testimonials.title}
        </h2>
        <div class="customer-testimonial-section__content">
            <div class="customer-testimonial-section__review">
                <Image src={quoteIcon} alt="Quote icon" width={42.28} height={34.3} loading={'lazy'} />

                <h2 class="customer-testimonial-section__review-title">{content.home.testimonials.quote}"</h2>
                <p class="customer-testimonial-section__review-text">{content.home.testimonials.text}</p>
            </div>
            <div class="customer-testimonial-section__image">
                <Image src={customerTestimonialImage} alt="Customer testimonial image" class="customer-testimonial-section__image-img" width={598} height={399} loading={'lazy'} />

                <div class="customer-testimonial-section__customer-info">

                    <h3 class="customer-testimonial-section__customer-info-name">
                        {content.home.testimonials.author}
                    </h3>
                    <p class="customer-testimonial-section__customer-info-title">
                        {content.home.testimonials.jobTitle}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>